<div class="container">

<h1>The Great Burger Cookout!</h1>
<div class="burger-list-1">
<h2>Burgers that have not been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div class="burger-list-2">
<h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<div class="burger-add">
<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Has it been eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes!<br>
    <input type="radio" name="devoured" value="0"> Nope.
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>
</div>


